<div class="col-md-12">
    <canvas id="myCanvas">
        Your browser does not support the HTML canvas tag.
    </canvas>
</div>
<script>
    function fillColorRect(ctx, startX, startY, width_column, height_column, hex_color) {
        ctx.fillStyle = hex_color;
        ctx.fillRect(startX, startY, width_column, height_column);
    }

    function drawTextBox(ctx, startX, startY, box_width, box_height, box_color, text_content, text_color){
        fillColorRect(ctx, startX, startY, box_width, box_height, box_color);
        ctx.strokeRect(startX, startY, box_width, box_height); // Create box contain text

        // Style of text
        ctx.font = "15px TimesNewRoman";
        ctx.fillStyle = text_color;

        // Align center for text content
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.fillText(text_content, startX + box_width - box_width/2, startY + box_height - box_height/2);
    }

    var count_model = 5; // Number of model in group model
    var line_canvas = document.getElementById("myCanvas");
    line_canvas.width = window.innerWidth / count_model;
    line_canvas.height = window.innerHeight;
    var ctx = line_canvas.getContext("2d");

    var width_column = 10;
    var height_column = line_canvas.height / 8;
    var x_start = line_canvas.width / 2 - width_column / 2;
    var y_start = (line_canvas.height - height_column * count_model)/2;
    var list_color = ['yellow', 'green', 'blue', '#d3d3d3', 'red', '#4caf50', '#000'];

    for (var i = 0; i < count_model; i++) { // Draw line depend on number of model
        ctx.strokeRect(x_start, y_start + height_column * i, width_column, height_column);
        fillColorRect(ctx, x_start, y_start + height_column * i, width_column, height_column, list_color[i]);
    }

    var x_center = line_canvas.width / 2;
    var y_center = line_canvas.height / 2;
    var box_width = 50;
    var box_height = 50;
    var text_content = 'gia tri st';
    var box_color = '#d3d3d3';
    var text_color = '#000';
    var text_box = drawTextBox(ctx, x_start, y_start + 20, box_width, box_height, box_color, text_content, text_color);
    

    ctx.arc(x_start, y_start, 25, 0 * Math.PI, 1 * Math.PI);
    ctx.arc(x_start, y_start, 25, 1 * Math.PI, 2 * Math.PI);
    
    ctx.stroke();
</script>