<div class="output-data row">
    <div class="col-md-2">
        <div class="canvas-arm-a ">
            {% include 'write/ajax_data/canvas-arm-a.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-b">
            {% include 'write/ajax_data/canvas-arm-b.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-c">
            {% include 'write/ajax_data/canvas-arm-c.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-d">
            {% include 'write/ajax_data/canvas-arm-d.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-e">
            {% include 'write/ajax_data/canvas-arm-e.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-f">
            {% include 'write/ajax_data/canvas-arm-f.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-arm-j">
            {% include 'write/ajax_data/canvas-arm-j.html' %}
        </div>
    </div>

    <div class="col-md-2">
        <div class="canvas-ass-a">
            {% include 'write/ajax_data/canvas-ass-a.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-b">
            {% include 'write/ajax_data/canvas-ass-b.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-c">
            {% include 'write/ajax_data/canvas-ass-c.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-d">
            {% include 'write/ajax_data/canvas-ass-d.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-e">
            {% include 'write/ajax_data/canvas-ass-e.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-f">
            {% include 'write/ajax_data/canvas-ass-f.html' %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="canvas-ass-j">
            {% include 'write/ajax_data/canvas-ass-j.html' %}
        </div>
    </div>
</div>