<div class="output-data">
    <div class="canvas-arm-a row">
        {% include 'write/ajax_data/canvas-arm-a.html' %}
    </div>
    <div class="canvas-arm-b row">
        {% include 'write/ajax_data/canvas-arm-b.html' %}
    </div>
    <div class="canvas-arm-c row">
        {% include 'write/ajax_data/canvas-arm-c.html' %}
    </div>
    <div class="canvas-arm-d row">
        {% include 'write/ajax_data/canvas-arm-d.html' %}
    </div>
    <div class="canvas-arm-e row">
        {% include 'write/ajax_data/canvas-arm-e.html' %}
    </div>
    <div class="canvas-arm-f row">
        {% include 'write/ajax_data/canvas-arm-f.html' %}
    </div>
    <div class="canvas-arm-j row">
        {% include 'write/ajax_data/canvas-arm-j.html' %}
    </div>

    <div class="canvas-ass-a row">
        {% include 'write/ajax_data/canvas-ass-a.html' %}
    </div>
    <div class="canvas-ass-b row">
        {% include 'write/ajax_data/canvas-ass-b.html' %}
    </div>
    <div class="canvas-ass-c row">
        {% include 'write/ajax_data/canvas-ass-c.html' %}
    </div>
    <div class="canvas-ass-d row">
        {% include 'write/ajax_data/canvas-ass-d.html' %}
    </div>
    <div class="canvas-ass-e row">
        {% include 'write/ajax_data/canvas-ass-e.html' %}
    </div>
    <div class="canvas-ass-f row">
        {% include 'write/ajax_data/canvas-ass-f.html' %}
    </div>
    <div class="canvas-ass-j row">
        {% include 'write/ajax_data/canvas-ass-j.html' %}
    </div>
</div>