<div class="output-data">
    <div class="tbl-arm-a row">
        {% include 'write/ajax_data/table-arm-a.html' %}
    </div>
    <div class="tbl-arm-b row">
        {% include 'write/ajax_data/table-arm-b.html' %}
    </div>
    <div class="tbl-arm-c row">
        {% include 'write/ajax_data/table-arm-c.html' %}
    </div>
    <div class="tbl-arm-d row">
        {% include 'write/ajax_data/table-arm-d.html' %}
    </div>
    <div class="tbl-arm-e row">
        {% include 'write/ajax_data/table-arm-e.html' %}
    </div>
    <div class="tbl-arm-f row">
        {% include 'write/ajax_data/table-arm-f.html' %}
    </div>
    <div class="tbl-arm-j row">
        {% include 'write/ajax_data/table-arm-j.html' %}
    </div>

    <div class="tbl-ass-a row">
        {% include 'write/ajax_data/table-ass-a.html' %}
    </div>
    <div class="tbl-ass-b row">
        {% include 'write/ajax_data/table-ass-b.html' %}
    </div>
    <div class="tbl-ass-c row">
        {% include 'write/ajax_data/table-ass-c.html' %}
    </div>
    <div class="tbl-ass-d row">
        {% include 'write/ajax_data/table-ass-d.html' %}
    </div>
    <div class="tbl-ass-e row">
        {% include 'write/ajax_data/table-ass-e.html' %}
    </div>
    <div class="tbl-ass-f row">
        {% include 'write/ajax_data/table-ass-f.html' %}
    </div>
    <div class="tbl-ass-j row">
        {% include 'write/ajax_data/table-ass-j.html' %}
    </div>
</div>