.model-box {
  width: 100%;
  /* border: 1px solid blue; */
  text-align: center;
}

.model-tag-name {
  background-color: #FCF1B1;
  border: 1px solid #d3d3d3;
  border-radius: 25%;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 0 25px;
}

.arrow {
  border: solid #d3d3d3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 1;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-line {
  display: inline-block;
  border-left: 2px solid #d3d3d3;
  height: 90px;
}

.arrow-wrapper{
  margin-top: -23px; 
  margin-bottom: -4px;
}

.st-pointer{
  border-radius: 50%;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  position: absolute;
  z-index: 2;
}

.model-column-name{
  text-align: center;
  text-decoration: underline double;
  margin-bottom: 15px;
  font-size: 20px;
}