{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/general.css' %}">
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<script src="{% static 'js/anime.min.js' %}"></script>
{% endblock head %}
{% block body %}
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if 'safe' in message.tags %} {{ message|safe }}
            {% else %} {{ message }} {% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    <form id="form-line" name="form-line" action="" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-history table-arm">
                        <thead>
                            <tr>
                                <th colspan="2">ARM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="arm-a">
                                    <button name="arm-a" type="button" disabled>Line A</button>
                                </td>
                                <td class="arm-b">
                                    <button name="arm-b" type="button" disabled>Line B</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="arm-c">
                                    <button name="arm-c" type="button" disabled>Line C</button>
                                </td>
                                <td class="arm-d">
                                    <button name="arm-d" type="button" disabled>Line D</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="arm-e">
                                    <button name="arm-e" type="button" disabled>Line E</button>
                                </td>
                                <td class="arm-f">
                                    <button name="arm-f" type="button" disabled>Line F</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="arm-j">
                                    <button name="arm-j" type="button" disabled>Line J</button>
                                </td>
                                <td class=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-history table-ass">
                        <thead>
                            <tr>
                                <th colspan="2">ASS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ass-a">
                                    <button name="ass-a" type="button" disabled>Line A</button>
                                </td>
                                <td class="ass-b">
                                    <button name="ass-b" type="button" disabled>Line B</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="ass-c">
                                    <button name="ass-c" type="button" disabled>Line C</button>
                                </td>
                                <td class="ass-d">
                                    <button name="ass-d" type="button" disabled>Line D</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="ass-e">
                                    <button name="ass-e" type="button" disabled>Line E</button>
                                </td>
                                <td class="ass-f">
                                    <button name="ass-f" type="button" disabled>Line F</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="ass-j">
                                    <button name="ass-j" type="button" disabled>Line J</button>
                                </td>
                                <td class=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
{% include 'write/child_template/output-canvas.html' %}

{% endblock body %}
{% block script %}
<script>
    jQuery(function ($) {
        var pre_arm_a = [];
        var current_arm_a = [];
        var count = 0;
        var ajax_call = function () {
            $.ajax({
                url: '',
                type: 'get',
                success: function (response) {
                    $('.canvas-arm-a').empty();
                    $('.canvas-arm-a').append(response.data.canvas_arm_a);
                    $('.canvas-arm-b').empty();
                    $('.canvas-arm-b').append(response.data.canvas_arm_b);
                    $('.canvas-arm-c').empty();
                    $('.canvas-arm-c').append(response.data.canvas_arm_c);
                    $('.canvas-arm-d').empty();
                    $('.canvas-arm-d').append(response.data.canvas_arm_d);
                    $('.canvas-arm-e').empty();
                    $('.canvas-arm-e').append(response.data.canvas_arm_e);
                    $('.canvas-arm-f').empty();
                    $('.canvas-arm-f').append(response.data.canvas_arm_f);
                    $('.canvas-arm-j').empty();
                    $('.canvas-arm-j').append(response.data.canvas_arm_j);

                    $('.canvas-ass-a').empty();
                    $('.canvas-ass-a').append(response.data.canvas_ass_a);
                    $('.canvas-ass-b').empty();
                    $('.canvas-ass-b').append(response.data.canvas_ass_b);
                    $('.canvas-ass-c').empty();
                    $('.canvas-ass-c').append(response.data.canvas_ass_c);
                    $('.canvas-ass-d').empty();
                    $('.canvas-ass-d').append(response.data.canvas_ass_d);
                    $('.canvas-ass-e').empty();
                    $('.canvas-ass-e').append(response.data.canvas_ass_e);
                    $('.canvas-ass-f').empty();
                    $('.canvas-ass-f').append(response.data.canvas_ass_f);
                    $('.canvas-ass-j').empty();
                    $('.canvas-ass-j').append(response.data.canvas_ass_j);
                    
                    if ($.trim(response.data.canvas_arm_a)) {
                        $('.arm-a button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_b)) {
                        $('.arm-b button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_c)) {
                        $('.arm-c button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_d)) {
                        $('.arm-d button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_e)) {
                        $('.arm-e button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_f)) {
                        $('.arm-f button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_arm_j)) {
                        $('.arm-j button').removeAttr('disabled').addClass('enabled');
                    }

                    if ($.trim(response.data.canvas_ass_a)) {
                        $('.ass-a button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_b)) {
                        $('.ass-b button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_c)) {
                        $('.ass-c button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_d)) {
                        $('.ass-d button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_e)) {
                        $('.ass-e button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_f)) {
                        $('.ass-f button').removeAttr('disabled').addClass('enabled');
                    }
                    if ($.trim(response.data.canvas_ass_j)) {
                        $('.ass-j button').removeAttr('disabled').addClass('enabled');
                    }
                },
            });
        };
        var interval = 5000;
        setInterval(ajax_call, interval);

        // arm
        $('.arm-a button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-a row"></div>');
        });
        $('.arm-b button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-b row"></div>');
        });
        $('.arm-c button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-c row"></div>');
        });
        $('.arm-d button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-d row"></div>');
        });
        $('.arm-e button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-e row"></div>');
        });
        $('.arm-f button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-f row"></div>');
        });
        $('.arm-j button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-arm-j row"></div>');
        });

        // ass
        $('.ass-a button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-a row"></div>');
        });
        $('.ass-b button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-b row"></div>');
        });
        $('.ass-c button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-c row"></div>');
        });
        $('.ass-d button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-d row"></div>');
        });
        $('.ass-e button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-e row"></div>');
        });
        $('.ass-f button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-f row"></div>');
        });
        $('.ass-j button').click(function () {
            $('.output-data').empty();
            $('.output-data').append('<div class="canvas-ass-j row"></div>');
        });
    });
</script>
{% endblock script %}