{% if dict_ass_c %}
<div class="col-md-2">
    <div class="model-column-name">
        <b>ASS - C</b>
    </div>
    {% for idx, val in dict_ass_c.items %}
    <div class="model-box">
        <div class="model-tag-name" id="model-{{val.department}}-{{val.line}}-{{idx}}">
            <b>{{ val.model_name }}</b>
            <div>{{val.st_actual}}</div>
        </div>
        <div class="arrow-line" id="arrow-line-{{val.department}}-{{val.line}}-{{idx}}">
            <div class="st-pointer" id="p-{{val.department}}-{{val.line}}-{{idx}}"></div>
        </div>
        <div class="arrow-wrapper">
            <i class="arrow down"></i>
        </div>
    </div>
    {% if val.st_actual != '0.00' %}
    <script>
        var model_box = document.getElementById('model-{{val.department}}-{{val.line}}-{{idx}}');
        model_box.style.backgroundColor = '#84a8e9';
        model_box.style.color = '#fff';
    </script>
    {% endif %}
    <script>
        var st_actual = parseFloat('{{ val.st_actual }}');
        if (st_actual != 0) {
            var point_size = st_actual;
            if (st_actual < 10) {
                point_size = 10;
            }
            if (st_actual > 30) {
                point_size = 30;
            }

            var pointer = document.getElementById('p-{{val.department}}-{{val.line}}-{{idx}}');
            var arrow_height = document.getElementById('arrow-line-{{val.department}}-{{val.line}}-{{idx}}').offsetHeight;

            pointer.style.height = point_size + 'px';
            pointer.style.width = point_size + 'px';
            pointer.style.marginLeft = -point_size / 2 - 1 + 'px';

            var delay_time = point_size / 6 * 1000;
            var animation = anime({
                targets: pointer,
                translateY: arrow_height - point_size,
                easing: 'easeInSine',
                duration: delay_time,

                complete: function (anim) {
                    animation.remove();
                }
            });
        }
    </script>
    {% endfor %}
    <div class="model-box">
        <div class="model-tag-name">
            <b>Finish</b>
        </div>
    </div>
</div>
{% endif %}