{% load static %}
{% for idx, val in dict_arm_a.items %}
<div class="col-md-2">
    <div class="model-box">
        <div class="model-tag-name"><b>{{ val.model_name }}</b></div>

        <div class="arrow-line">
            <div class="st-pointer"></div>
        </div>
        <div class="arrow-wrapper">
            <i class="arrow down"></i>
        </div>
    </div>
    <script>
        var st_arm_a = 0;
        var st_actual = parseFloat('{{ val.st_actual }}');

        if (st_arm_a != st_actual) {
            st_arm_a = st_actual;


            var delay_time = st_arm_a * 1000;
            var animation = anime({
                targets: '.st-pointer',
                translateY: 85,
                easing: 'easeInSine',
                duration: delay_time,

                complete: function (anim) {
                    animation.remove();
                }
            });
        }
        else {

        }
    </script>
</div>
{% endfor %}